<!DOCTYPE html>
<html>
<head>
    <title>CLS iframe demo</title>
</head>
<body>
<h1 style="text-align: center;">
    CLS iframe demo
</h1>
<iframe src="<%- url %>" style="width: 100%; height: 500px">
</iframe>
</body>
</html>