<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/style.css" />
</head>
<body>
<div class="cls-iframe-wrapper">
    <div class="cls-iframe-header">
        <img src="favicon.ico"/>
        <h3 class="title">内嵌CLS检索页</h3>
        <div class="form-group option">
            <div class="form-check form-check-inline">
                <input class="form-check-input hideOption" type="checkbox" id="hideTopicSelect" value="hideRegion,hideTopicSelect">
                <label class="form-check-label" for="hideTopicSelect">隐藏顶部日志主题选择</label>
            </div>
        </div>
    </div>
    <!-- 确保做好权限控制后，用户可自行删除本提示 -->
    <div style="color: red; margin-left: 20px;">
        注意：<br/>
        该demo中不包含鉴权外部系统鉴权逻辑，部署后所有访问者（即使未登陆腾讯云）均可以demo中配置的角色权限查看账户中的数据。<br/>
        为保障数据隐私，请自行添加外部系统鉴权逻辑或限制其仅在内网中可访问，以确保有权限的用户才能够查看该页面。
    </div>

    <iframe id="clsIframe" src="<%- url %>" class="cls-iframe-content">
    </iframe>
</div>
<script type="text/javascript" src="js/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script>
  $(document).ready(function(){
    $('.hideOption').on('change', debounce(function() {
      var hideOptions = []
      var list = $('.hideOption');
      for(var i = 0; i < list.length; i++) {
        const hideValues = list[i].value.split(',')
        if (list[i].checked) hideOptions = hideOptions.concat(hideValues)
      }
      $.ajax({
        url: 'url',
        type: 'POST',
        contentType: "application/json;charset=UTF-8",
        data: JSON.stringify({ hideOptions }),
        success: function(result) {
          var url = result.url
          $('#clsIframe').attr('src', url)
        },
        error: function(err) {
          console.log(err.status)
          console.log(err.statusText)
        }
      })
    }, 300))
  })

  function debounce(fn, delay) {
    var timer;

    return function () {
      var context = this;
      var args = arguments;

      clearTimeout(timer);

      timer = setTimeout(() => {
        fn.apply(context, args);
      }, delay);
    };
  };
</script>
</body>
</html>
