<!DOCTYPE html>
<html>
<head>
    <title>CLS 免登陆跳转</title>
</head>
<body>
<div class="cls">

</div>
<script type="text/javascript" src="js/jquery-3.5.1.min.js" ></script>
<script>
  async function redirectConsole(password){
    $.ajax({
      url: 'url',
      type: 'POST',
      contentType: "application/json;charset=UTF-8",
      data: JSON.stringify({ password: password }),
      success: function(result) {
        if(result.url) {
          window.location = result.url
        } else {
          alert(JSON.stringify(result))
        }
      },
      error: function(err) {
        console.error(err.status)
        console.error(err.statusText)
      }
    })
  }
  $(document).ready(()=>{
    $.ajax({
      url: 'demo',
      type: 'POST',
      contentType: "application/json;charset=UTF-8",
      success: (result) => {
        const password = result.hasPassword ? window.prompt("请输入免登陆跳转服务密码（注意：将覆盖已登录账号）") : ''
        redirectConsole(password)
      },
    })
  })
</script>
</body>
</html>
